<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页-调用微信SDK扫描二维码</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>

<body>
    <div class="container">
        <button id="scanqrbtn">点我扫码</button>
    </div>
</body>
<script src="javascripts/jweixin-1.6.0.js"></script>
<script>
    // import * as TOOLS from 'javascript/tools.js';
    window.addEventListener('load', init);

    function configWX() {
        if (wx) {
            console.log(wx.config)
            wx.config({
                debug: true,
                appId: '<%= appId%>', // 必填，公众号的唯一标识
                timestamp: parseInt('<%= timestamp%>'), // 必填，生成签名的时间戳
                nonceStr: '<%= noncestr%>', // 必填，生成签名的随机串
                signature: '<%= signature%>',// 必填，签名
                jsApiList: ['scanQRCode'] // 必填，需要使用的JS接口列表
            })
            wx.ready(function () {
                // config 信息验证后执行此方法，所有接口调用必须在config执行之后
                console.log('wx is ready!')
                // alert('wx is ready!')

                window.startScan();
            })
            wx.error(function (res) {
                console.log('wx with error: ' + res)
                console.log('wx with error: %o', res)
            })
        } else {
            alert('微信JSSDK未成功引入！')
        }
    }

    function startScan() {
        return new Promise((resolve, reject) => {
            wx.scanQRCode({
                needResult: 0,
                scanType: ['qrCode'],
                success: function (res) {
                    console.log(res);
                    resolve(res.resultStr);
                }
            });
        })
    }

    function init() {
        configWX();
        let btn = document.getElementById('scanqrbtn');
        btn.addEventListener('click', function () {
            alert('点击了扫码按钮！');
            startScan().then((result) => {
                console.log('扫码结果: %o', result)
                alert(result)
            }).catch((err) => {
                console.log('扫码错误: %o', err)
                alert(err)
            });
        })
    }

    window.startScan = startScan;
    window.addEventListener('message', event => {
    // IMPORTANT: check the origin of the data!
    startScan();
});
</script>

</html>